<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Resultado CEP</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
 <style>
    .conteudo img{
        width: 300px;
        background-image: url;
    }

    body {
background: #FFFFFF url("https://soulart.org/wp-content/uploads/2019/08/pirajucara_panoramica_taboao.jpg") repeat right top fixed;
}
    
</style>
 <script src='main.js'></script>
</head>
<body>
    
        <div class="container" >
            <div class="card mt-2 mb-2">
                <div  class="card-body " >
                    <h3>Resultado: </h3>
               
                    <h4 style="color: black;">
                        CEP : <strong style="color: red;"> 
                            <%=dado[0].cep %>
                             <%=dado[0].logradouro %>
                            Bairro <%=dado[0].bairro %>
                            <%=dado[0].localididade %>

                        </strong>

                    </h4>    
                    <a href="/" class="btn btn-outline-success mt-2">Procurar outro CEP</a>
                </div>
            </div>
            
         </div>
  </body>
</html>